# Análise bases Enem dos anos de 2016 a 2019

In [31]:
import pandas as pd

In [2]:
'''
[00:56, 01/07/2020] Ufpa Áurea: Usa essas duas. 
NO_MUNICIPIO_RESIDENCIA		SG_UF_RESIDENCIA
Sendo q o SG quero só Pará
'''
enem_2016 = pd.read_csv("microdados_enem_2016.csv", sep=';', encoding='ISO-8859-1', 
                        usecols=['NU_ANO', 'SG_UF_RESIDENCIA', 'TP_DEPENDENCIA_ADM_ESC', 
                                 'NO_MUNICIPIO_RESIDENCIA', 'NU_IDADE', 'Q001', 
                                 'Q006', 'Q024', 'Q025'])

In [8]:
# Renomeando o Dataframe para enem_2016_PA
enem_2016_PA = pd.DataFrame(enem_2016)

In [11]:
# Atribuindo a variável SG_UF_RESIDENCIA ao estado do Pará
# Aqui teremos dados só do estado do Pará
enem_2016_PA = enem_2016_PA[enem_2016_PA.SG_UF_RESIDENCIA == 'PA']

In [13]:
# Verificando os dados
enem_2016_PA.head()

,NU_ANO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_DEPENDENCIA_ADM_ESC,Q001,Q006,Q024,Q025
3,2016,Belém,PA,17.0,NaN,E,B,A,B
29,2016,Altamira,PA,31.0,NaN,F,M,C,B
101,2016,Marituba,PA,19.0,NaN,D,F,B,B
186,2016,Paragominas,PA,21.0,NaN,E,D,A,A
204,2016,Castanhal,PA,25.0,NaN,F,E,A,A

In [15]:
# Salvando os dados em um arquivo csv
enem_2016_PA.to_csv('ENEM_PA_2016.csv')

----------------------------------------------------------------------------------------------

In [16]:
enem_2017 = pd.read_csv("microdados_enem_2017.csv", sep=';', encoding='ISO-8859-1', 
                        usecols=['NU_ANO', 'SG_UF_RESIDENCIA', 'TP_DEPENDENCIA_ADM_ESC', 
                                 'NO_MUNICIPIO_RESIDENCIA', 'NU_IDADE', 'Q001', 
                                 'Q006', 'Q024', 'Q025'])

In [17]:
enem_2017_PA = pd.DataFrame(enem_2017)

In [20]:
enem_2017_PA = enem_2017_PA[enem_2017_PA.SG_UF_RESIDENCIA == 'PA']

In [21]:
enem_2017_PA.head()

,NU_ANO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_DEPENDENCIA_ADM_ESC,Q001,Q006,Q024,Q025
123,2017,Belém,PA,21.0,NaN,E,C,D,B
140,2017,Ananindeua,PA,27.0,NaN,E,B,B,B
202,2017,Marabá,PA,32.0,NaN,F,C,A,A
208,2017,Belém,PA,33.0,NaN,E,C,A,A
215,2017,Tomé-Açu,PA,30.0,NaN,D,B,A,A

In [22]:
enem_2017_PA.to_csv('ENEM_2017_PA.csv')

------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [24]:
enem_2018 = pd.read_csv("microdados_enem_2018.csv", sep=';', encoding='ISO-8859-1',
                        usecols=['NU_ANO', 'SG_UF_RESIDENCIA', 'TP_DEPENDENCIA_ADM_ESC', 
                                 'NO_MUNICIPIO_RESIDENCIA', 'NU_IDADE', 'Q001', 
                                 'Q006', 'Q024', 'Q025'])

In [26]:
enem_2018_PA = pd.DataFrame(enem_2018)

In [28]:
enem_2018_PA = enem_2018_PA[enem_2018_PA.SG_UF_RESIDENCIA == 'PA']

In [29]:
enem_2018_PA.head()

,NU_ANO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_DEPENDENCIA_ADM_ESC,Q001,Q006,Q024,Q025
65,2018,Belém,PA,35.0,NaN,F,B,A,A
72,2018,Tucuruí,PA,20.0,NaN,B,G,B,B
82,2018,Belém,PA,23.0,NaN,A,A,A,A
124,2018,Belém,PA,26.0,NaN,F,C,B,B
171,2018,Marituba,PA,18.0,NaN,E,B,A,A

In [32]:
enem_2018_PA.to_csv('ENEM_2018_PA.csv')

------------------------------------------------------------------------------------------

In [33]:
enem_2019 = pd.read_csv("microdados_enem_2019.csv", sep=';', encoding='ISO-8859-1',
                        usecols=['NU_ANO', 'SG_UF_RESIDENCIA', 'TP_DEPENDENCIA_ADM_ESC', 
                                 'NO_MUNICIPIO_RESIDENCIA', 'NU_IDADE', 'Q001', 
                                 'Q006', 'Q024', 'Q025'])

In [35]:
enem_2019_PA = pd.DataFrame(enem_2019)

In [36]:
enem_2019_PA = enem_2019_PA[enem_2019_PA.SG_UF_RESIDENCIA == 'PA']

In [37]:
enem_2019_PA.head()

,NU_ANO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_DEPENDENCIA_ADM_ESC,Q001,Q006,Q024,Q025
0,2019,Santarém,PA,21,NaN,D,B,B,A
1,2019,Mãe do Rio,PA,16,NaN,D,B,A,A
2,2019,Paragominas,PA,18,4.0,H,C,C,B
3,2019,São Sebastião da Boa Vista,PA,23,2.0,D,C,A,A
4,2019,Juruti,PA,23,NaN,B,C,A,A

In [38]:
enem_2019_PA.to_csv('ENEM_2019_PA.csv')